body {
    font-family: sans-serif;
    background-color: greenyellow;
}

img {
    max-width: 100%;
    image-orientation: inherit;
}

h1 {
    max-width: 600px;
    text-align: center;
    
}

 h2 {
    max-width: 600px;
    text-align: center;
    gap: 100px;
    
}

 h4 {
    max-width: 600px;
    text-align: center;
    font-size: small;
    
}

main {
    max-width: 600px;
    background-color: greenyellow;
    margin: auto;
}


